.icon-button {
    -fx-background-color: #00000014;
    -size: 40;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-background-radius: 1000;
}

.icon-button:hover {
    -fx-background-color: #00000029;
}

.icon-button:pressed {
    -fx-background-color: #0000003d;
}

.icon-button .icon {
    -fx-background-color: black;
    -size: 16;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
}

.gameLabel {
    -fx-text-fill: #ffffff;
    -fx-font-size: 18;
}

.gameLabelValue {
    -fx-text-fill: #ffffff;
    -fx-font-size: 24;
    -fx-font-weight: Bold;
}

.label {
    -fx-font-family: 'Silkscreen';
}

.button {
    -fx-font-family: 'Silkscreen';
    -fx-font-size: 18;
}